extends layout

block content
  include header.jade
  #main-container.container
    .row
      .col-md-12
        h1.page-header Glider DAC Benefits of Participation
        p.
          The Glider DAC provides a number of benefits to glider operators to
          improve their experience with their glider data.  These include:
        ul
          li
            strong Data distribution
            |: By submitting your data in near real time to the DAC, it can be
            | disseminated via the National Data Buoy Center (NDBC) to the Global
            | Telecommunication System (GTS) as well as made available to other
            | modelers. Distributing the data broadly allows it to be used by
            | modelers and other product developers. It can be assimilated in
            | models or used for model data validation.  Sharing the data
            | improves its use and value to the ocean observing community.
          li
            strong Meet Requirements
            |: NOAA and other agencies are beginning to institute policies
            | requiring federally funded observational data be made publically
            | available and maintained in a data archive.  By submitting data to
            | the DAC, the DAC will meet reporting requirements for federal
            | agencies.  Additionally, IOOS Regional Associations are developing
            | certification proposals for certification by NOAA and IOOS.  The
            | DAC can be used to meet certification requirements for glider data
            | quality assurance, access and archive.
          li
            strong Quality Assurance (QA)
            |: The glider DAC is implementing some baseline QA procedures that
            | operators can point to to meet requirements for QA/QC.  These will
            | meet initial requirements if or until glider operators complete
            | more thorough post processing and analysis.

          li
            strong Visualization Tools
            |: The Glider DAC provides tools for operators to visualize
            | profiles of their data and do visual analysis and comparisons.

          li
            strong Data Metrics
            |: In addition to visualization tools, by allowing the DAC to
            | ingest your glider data, it can be incorporated into cumulative
            | metrics for gliders.  These help to show the value of gliders and
            | demonstrate value of the observing system. This enables funding
            | resources to fight for continued and additional funding to maintain
            | this valuable observing platform.
        img(alt="Glider Photo", src="/images/glider.jpg")
