extends layout

block content
  include header.jade
  #main-container.container
    .row
      #infographic.col-md-12
        h1.page-header Glider Metrics
        script#infogram_0_numbergliderdaysbyyear-1hxj48vdpozq2vg(src="//e.infogr.am/js/embed.js", type="text/javascript")
