html {
  min-height: 100%;
}

body {
  background: #fff url("/img/ocean.jpg") no-repeat bottom center;
  min-height: 1115px;
}

@font-face {
  font-family: 'KlinicSlabBold';
  src: url("/css/fonts/KlinicSlabBold.otf") format("opentype");
}
@font-face {
  font-family: 'KlinicSlabMedium';
  src: url("/css/fonts/KlinicSlabMedium.otf") format("opentype");
}

@media (max-width: 768px) {
  header > .container-fluid {
    display: none;
  }
}

header > .container-fluid {
  width: 500px;
}

  header > .container-fluid a img {
    width: 480px;
    margin: 10px;
  }

.navbar {
  background-color: #003087;
  border: none;
  border-radius: 0;
}

.navbar img[src="/img/logo-navbar.png"] {
  max-height: 42px;
  margin-top: -11px;
}

.navbar .navbar-brand.navbar-brand-title {
  font-family: "KlinicSlabBold";
  font-size: 24px;
  color:#003087;
  margin-left: -24px;
  margin-top: 1px;
}

.navbar ul li:not(.brand):hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav .dropdown-menu {
  background-color: #122b4d !important;
}

.navbar-default .navbar-nav .dropdown-menu li a {
  font-size: 15px;
}

header .dropdown-menu > li > a:hover {
  background-color: #021A47;
}

.navbar-default .navbar-nav .dropdown-menu {
  border: none;
}


#navbar .navbar-nav > li > a {
  font-size: 18px;
  text-transform: uppercase;
}

.nav > li.brand {
    display: none;
  }

.nav > li.brand a {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 15px;
}

@media (min-width: 768px) {
  #navbar {
    height: 60px !important;
  }

  .navbar .navbar-nav {
    width: 958px;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar .navbar-nav {
    display : inline-block;
    float   : none;
  }

  .navbar .navbar-nav > li {
    margin-right: 3%;
  }

  .navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 19px;
  }

  .navbar-brand {
    display: none;
  }

  .nav > li.brand {
    display: inline-block;
  }

  .navbar img[src="/img/logo-navbar.png"] {
    margin-top: -6px;
  }
}

#navbar a {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #55D6F8;
}

.bad-score {
  color: #D70834;
}

thead .tname {
  width: 60%;
}
thead .tpriority {
  width: 20%;
}

thead .tscore {
  width: 20%;
}

thead .cname {
  width: 25%;
}

thead .cpriority {
  width: 5%;
}

thead .ccorrection {
  width: 70%;
}

.table-collapse {
  display: inline;
  font-size: 18px;
  font-weight: bold;
}

.table-collapse a{
  color: #333;
}

.table-collapse a:hover {
  color: #777;
  text-decoration: none;
}

.failures {
  display: inline;
}

.label-as-badge {
  border-radius: 1em;
}
#dropbox {
  color: #ccc;
  border: 5px dotted #ccc;
  margin-bottom: 20px;
}

#dropbox p {
  margin: 20px;
}

#dropbox #dropbox-error {
  display: none;
}

#dropbox.hovered {
  border-color: #000;
  color: #000;
}

#dropbox .progress {
  display: none;
  margin-bottom: 0px;
}

#dropbox.uploading {
  border-color: white;
}

#dropbox.uploading .progress {
  display: block;
}

#dropbox.uploading p {
  display: none;
}

#url-input {
  font-family: FontAwesome;
}

.submit-row {
  padding-top: 15px;
}

#main-container.homepage .row .col-md-3.welcome {
  margin-top: 22px;
}

@media (max-width: 992px) {
  #main-container.homepage .row .col-md-3.welcome {
    margin-top: 0;
  }
}

#main-container.homepage .row .thumbnail .caption h3 {
  margin-top    : 5px;
  margin-bottom : 15px;
}

#main-container.homepage .row .section-heading h1 {
  margin-bottom: 25px;
}

#main-container.homepage .thumbnail .caption .list-group:last-of-type {
  margin-bottom: 5px;
}

#main-container.homepage .thumbnail img[alt="IOOS Gliders Map screen capture"] {
  max-width: 1140px;
}

#main-container.homepage ul.glider-resources.nav-pills > li {
  width: 100%;
}

#main-container.homepage ul.glider-resources.nav-pills > li > a {
  font-size : 18px;
  border    : 1px solid #ccc;
}

#main-container.homepage ul.glider-resources.nav-pills li.dropdown.open > ul {
  width: 100%;
}

#main-container.homepage ul.glider-resources.nav-pills li.dropdown.open > ul > li > a {
  white-space : normal;
}

#main-container.homepage ul.glider-resources.nav-pills li.dropdown.open > ul li p {
  font-size   : 12px;
  margin-left : 39px;
  color       : #868686;
  margin-top  : 5px;
  margin-right: 18px;
}

#main-container.homepage .row:last-of-type {
  margin-bottom: 500px;
}

img[src="/static/img/glider.jpg"] {
  margin-left : 30px;
  margin-top  : 25px;
}